/* Mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
        --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    }
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .mobile-category {
        display: flex;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    } 

    .app__content {
        margin-top: -28px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* mobile */ 
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__mobile-search {
        display: block;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 1;
        height: 46px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2)
        }
        to {
            opacity: 1;
            top: var(--header-height);
            height: 46px;
        }
    }

    .header__logo-img {
        width: 100px;
    }

    .header__search-border-mobile {
        border: 1px solid #e5e5e5;
        padding: 3px 2px;
    }

    #mobile-search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        left: 0;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
}